<!--
    Name: Pierina Brito
    about.html
    10/2023
-->


<!DOCTYPE html>
<html lang = "en">

  <head>
      <title> Wlashesandbeaty: About </title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
      <link rel="stylesheet" href="/style/beauty.css">
      <script src="/script/script.js"></script>
      <script src="https://smtpjs.com/v3/smtp.js"></script>
      <link rel="shortcut icon" href="/assets/favicon-eyelashes.png">
      <link rel="stylesheet" type="text/css" href="/font/flaticon_mycollection.css">
      <script src="https://kit.fontawesome.com/94cd49c58c.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <header class="row container">
      <a href="index.html" class="logo"><img src="/assets/LOGO W.png" alt=""></a>
      <button class="toggleMenu" onclick="toggleMenu();"></button>
    </header>
    <nav class="navigation row">
      <ul class="row">
        <li><a href="index.html" class="active">Home</a></li>
        <li><a href="services.html">Services</a></li>
        <li><a href="gallery.html">Gallery</a></li>
        <li><a href="about.html">About</a></li>
        <li><a href="contact.html">Contact</a></li>
      </ul>
      <a href="book.html" class="page-btn">Book</a>
    </nav>
        
        <main>
            <section class="about row flex">
                <div class="about-img circle"><img src="/assets/ofice.jpeg" alt="about"></div>
                <div class="about-content">
                    <h1>About Us</h1>
                    <h2> Beauty is an art, and you are the masterpiece!</h2>
                    <p>
                        Passionate about enhancing your natural beauty, I am your dedicated lash artist! With a keen eye for 
                        detail and a gentle touch, I craft personalized lash designs tailored to accentuate your unique features. 
                        My skills in the art of lash extensions transform not just your lashes but your confidence as well. Join me in
                         the studio for a luxurious experience where every blink tells a story of elegance. Let's redefine your gaze together! 
                        👁️✨🌟 #LashArtist #BeautyEnhancer #ConfidenceCreator
                    </p>
                </div>
                <div class="about-img circle"><img src="/assets/about.JPG" alt="about"></div>
            </section>
      
            <section class="subscribe container">
              <h4>Unveiling Your Beauty:</h4>
              <h2>Subscribe For Exclusive Services and Special Offers!</h2>
              <form action="" class="row">
                <input type="email" name="" id="" placeholder="Example@email.com">
                <button type="submit" class="page-btn active">Subscribe</button>
              </form>
            </section>
      
        </main><hr>

        <div class="footer">
            <div class="footer-content">
              <div class="footer-section links">
                <h4>Quick Links</h4>
                <ul>
                  <a href="services.html"><li>Services </li></a>
                  <a href="gallery.html"><li>Gallery</li></a>
                  <a href="contact.html"><li>Contact</li></a> 
                  <a href="book.html"><li>Book</li></a>
                  <a href="about.html"><li>About Us</li></a>
                </ul>
              </div>
    
              <div class="footer-section schedule">
                <h4><i class="flaticon-calendar"></i> Opening Hours </h4>
                <ul>
                  <li>Monday 9am - 6pm</li>
                  <li>Tuesday 9am - 6pm</li>
                  <li>Wednesday 9am - 6pm</li>
                  <li>Thursday 9am - 6pm</li>
                  <li>Friday 9am - 6pm</li>
                  <li>Saturday 9am - 5pm</li>
                </ul>
              </div>
    
              <div class="footer-section contact">
                <h4> Contact Us</h4>
                <ul>
                  <li><i class="flaticon-email" aria-hidden="true"></i> <a href = "mailto:wlashesandbeauty@studio.com"> wlashesandbeauty@studio.com </a></li><br>
                  <li><i class="flaticon-pin" aria-hidden="true"></i> <a href= ""> 1435 Brickell Av, Miami, FL 33131 </a></li><br>
                  <li> <i class="flaticon-phone-call" aria-hidden="true"></i> <a href=""> 305-555-5555 </a></li><br>
                </ul>
              </div>
    
              <div class="footer-section follow">
                <h4> Follow Us</h4>
                    <a href ="https://www.instagram.com/"><i class="fa fa-instagram"></i></a>
                    <a href ="https://www.facebook.com/"><i class="fa fa-facebook"></i></a>
                    <a href ="https://www.whatsapp.com/"><i class="fa fa-whatsapp"></i></a><br/>
                <p class="studio"> WLashesandBeauty </p>
              </div>
            
    
            <div class="footer-bottom">
              &copy; 2023  All Rights Reserved |  Designed by Pierina Brito
            </div>
          </div>
              

    </body>
</html>

