<!--
    Name: Pierina Brito
    contact.html
    10/04/2023
-->


<!DOCTYPE html>
<html lang = "en">

  <head>
      <title> Wlashesandbeaty: Home </title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
      <link rel="stylesheet" href="/style/contact.css">
      <link rel="stylesheet" type="text/css" href="../font/flaticon_mycollection.css">
      <link rel="shortcut icon" href="/assets/favicon-eyelashes.png">
      <script src="/script/script.js"></script>
      <script src="https://kit.fontawesome.com/94cd49c58c.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <header class="row container">
            <a href="index.html" class="logo"><img src="/assets/LOGO W.png" alt=""></a>
            <button class="toggleMenu" onclick="toggleMenu();"></button>
        </header>
        <nav class="navigation row">
            <ul class="row">
                <li><a href="index.html" class="active">Home</a></li>
                <li><a href="services.html">Services</a></li>
                <li><a href="gallery.html">Gallery</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
            <a href="book.html" class="page-btn">Book</a>
        </nav>
          
        <main>
            <section class="hero row container">
                <div class="hero-content">
                  <h1>Step into a realm of beauty and luxury</h1>
                  <p> Get in Touch with Us </p> 
                   
                    <form action="#">
                        <div class="input-box">
                            <div class="input-field field">
                                <input type="text" placeholder="Full Name" id="name" class="item" autocomplete="off"> 
                                <div class="error-txt">Full Name can't be blank</div>
                            </div>
                            <div class="input-field field">
                                <input type="text" placeholder="Email Address" id="email" class="item" autocomplete="off">
                                <div class="error-txt email">Email Address can't be blank</div>
                            </div>
                        </div>
                        <div class="input-box">
                            <div class="input-field field">
                                <input type="text" placeholder="Phone Number" id="phone" class="item" autocomplete="off"> 
                                <div class="error-txt">Phone Number can't be blank</div>
                            </div>
                            <div class="input-field field">
                                <input type="text" placeholder="Subject" id="subject" class="item" autocomplete="off">
                                <div class="error-txt">Subject can't be blank</div>
                            </div>
                        </div>
                        <div class="textarea-field field">
                            <textarea name="" id="message" cols="30" rows="10" placeholder="Your Message" class="item" 
                            autocomplete="off"></textarea>
                            <div class="error-txt">Message can't be blank</div>
                        </div>
                            <button type="submit" class="page-btn active">Send Message</button>
                        </div>
                    </form>
                <!-- </div> -->
            </section><hr>

            <h2>Visit Us</h2></div>

            <div class="map-responsive">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3593.3594291506206!2d-80.19400452459972!3d25.758688977353774!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88d9b680ea2fa2b1%3A0xf6d196642e60a4fa!2s1435%20Brickell%20Ave%2C%20Miami%2C%20FL%2033131!5e0!3m2!1ses!2sus!4v1697206077802!5m2!1ses!2sus" width="800" height="600" class="map" loading="lazy"></iframe>
            </div>

        </main><hr>


            <div class="footer">
                <div class="footer-content">
                  <div class="footer-section links">
                    <h4>Quick Links</h4>
                    <ul>
                      <a href="services.html"><li>Services </li></a>
                      <a href="gallery.html"><li>Gallery</li></a>
                      <a href="contact.html"><li>Contact</li></a> 
                      <a href="book.html"><li>Book</li></a>
                      <a href="about.html"><li>About Us</li></a>
                    </ul>
                  </div>
        
                  <div class="footer-section schedule">
                    <h4><i class="flaticon-calendar"></i> Opening Hours </h4>
                    <ul>
                      <li>Monday 9am - 6pm</li>
                      <li>Tuesday 9am - 6pm</li>
                      <li>Wednesday 9am - 6pm</li>
                      <li>Thursday 9am - 6pm</li>
                      <li>Friday 9am - 6pm</li>
                      <li>Saturday 9am - 5pm</li>
                    </ul>
                  </div>
        
                  <div class="footer-section contact">
                    <h4> Contact Us</h4>
                    <ul>
                      <li><a href = "mailto:wlashesandbeauty@studio.com"><i class="flaticon-email" aria-hidden="true"> wlashesandbeauty@studio.com </i></a></li>
                      <li><a href= ""><i class="flaticon-pin" aria-hidden="true">1435 Brickell Av, Miami, FL 33131 </i></a></li>
                      <li><a href=""> <i class="flaticon-phone-call" aria-hidden="true"> 305-555-5555 </i></a></li>
                    </ul>
                  </div>
        
                  <div class="footer-section follow">
                    <h4> Follow Us</h4>
                    <a href ="https://www.instagram.com/"><i class="fa fa-instagram"></i></a>
                    <a href ="https://www.facebook.com/"><i class="fa fa-facebook"></i></a>
                    <a href ="https://www.whatsapp.com/"><i class="fa fa-whatsapp"></i></a>
                    <p class="studio"> WLashesandBeauty </p>
                  </div>
                </div>
        
                <div class="footer-bottom">
                  &copy; 2023  All Rights Reserved |  Designed by Pierina Brito
                </div>
            </div>

    </body>
</html>

