<!--
    Name: Pierina Brito
    GALLERY.html
    10/04/2023
-->


<!DOCTYPE html>
<html lang = "en">
    
    <head>
        <title> Wlashesandbeaty: Gallery </title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
      <link rel="stylesheet" href="/style/gallery.css">
      <script src="/script/script.js"></script>
      <script src="https://smtpjs.com/v3/smtp.js"></script>
      <link rel="shortcut icon" href="/assets/favicon-eyelashes.png">
      <link rel="stylesheet" type="text/css" href="/font/flaticon_mycollection.css">
      <script src="https://kit.fontawesome.com/94cd49c58c.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <header class="row container">
            <a href="index.html" class="logo"><img src="/assets/LOGO W.png" alt=""></a>
            <button class="toggleMenu" onclick="toggleMenu();"></button>
        </header>
        <nav class="navigation row">
            <ul class="row">
                <li><a href="index.html" class="active">Home</a></li>
                <li><a href="services.html">Services</a></li>
                <li><a href="gallery.html">Gallery</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
            <a href="book.html" class="page-btn">Book</a>
        </nav>

        <main><br><br><br>
                <h1> Our Gallery </h1><br>
                <p>
                    Indulge in the artistry of our talented lashes technician who transform your features into a masterpiece for any occasion.
                </p><br>
                <did class="container">
                    <article class="grid">
                        <section>
                            <did class="image">
                                <a href="#client1"><img src="/assets/client1.JPG" alt=""></a>
                            </did>
                        </section>
                        <section>
                            <did class="image">
                                <a href="#client2"><img src="/assets/client2.JPG" alt=""></a>
                            </did>
                        </section>
                        <section>
                            <did class="image">
                                <a href="#client3"><img src="/assets/client3.PNG" alt=""></a>
                            </did>
                        </section>
                    </article>
                    <article class="grid">
                        <section>
                            <did class="image">
                                <a href="#client4"><img src="/assets/client4.PNG" alt=""></a>
                            </did>
                        </section>
                        <section>
                            <did class="image">
                                <a href="#client5"><img src="/assets/client5.JPG" alt=""></a>
                            </did>
                        </section>
                        <section>
                            <did class="image">
                                <a href="#client6"><img src="/assets/client6.JPG" alt=""></a>
                            </did>
                        </section>
                    </article>
                    <article class="grid">
                        <section>
                            <did class="image">
                                <a href="#client7"><img src="/assets/client7.JPG" alt=""></a>
                            </did>
                        </section>
                        <section>
                            <did class="image">
                                <a href="#client8"><img src="/assets/client8.JPG" alt=""></a>
                            </did>
                        </section>
                        <section>
                            <did class="image">
                                <a href="#client9"><img src="/assets/client9.JPG" alt=""></a>
                            </did>
                        </section>
                    </article>
                    <article class="grid">
                        <section>
                            <did class="image">
                                <a href="#client10"><img src="/assets/client10.JPG" alt=""></a>
                            </did>
                        </section>
                        <section>
                            <did class="image">
                                <a href="#client11"><img src="/assets/client11.JPG" alt=""></a>
                            </did>
                        </section>
                        <section>
                            <did class="image">
                                <a href="#client12"><img src="/assets/client12.jpg" alt=""></a>
                            </did>
                        </section>
                    </article>
                    <article class="grid">
                        <section>
                            <did class="image">
                                <a href="#client13"><img src="/assets/client13.jpg" alt=""></a>
                            </did>
                        </section>
                        <section>
                            <did class="image">
                                <a href="#client14"><img src="/assets/client14.jpg" alt=""></a>
                            </did>
                        </section>
                        <section>
                            <did class="image">
                                <a href="#client15"><img src="/assets/client15.JPG" alt=""></a>
                            </did>
                        </section>
                    </article>
                </did>

                <article class="light-box" id="client1">
                    <a href="#client15" class="next"><i class="fa fa-arrow-left"></i></a>
                    <img src="/assets/client1.JPG" alt="">
                    <a href="#client2" class="next"><i class="fa fa-arrow-right"></i></a>
                    <a href="#" class="close">X</a>
                </article>
                <article class="light-box" id="client2">
                    <a href="#client1" class="next"><i class="fa fa-arrow-left"></i></a>
                    <img src="/assets/client2.JPG" alt="">
                    <a href="#client3" class="next"><i class="fa fa-arrow-right"></i></a>
                    <a href="#" class="close">X</a>
                </article>
                <article class="light-box" id="client3">
                    <a href="#client2" class="next"><i class="fa fa-arrow-left"></i></a>
                    <img src="/assets/client3.PNG" alt="">
                    <a href="#client4" class="next"><i class="fa fa-arrow-right"></i></a>
                    <a href="#" class="close">X</a>
                </article>
                <article class="light-box" id="client4">
                    <a href="#client3" class="next"><i class="fa fa-arrow-left"></i></a>
                    <img src="/assets/client4.PNG" alt="">
                    <a href="#client5" class="next"><i class="fa fa-arrow-right"></i></a>
                    <a href="#" class="close">X</a>
                </article>
                <article class="light-box" id="client5">
                    <a href="#client4" class="next"><i class="fa fa-arrow-left"></i></a>
                    <img src="/assets/client5.JPG" alt="">
                    <a href="#client6" class="next"><i class="fa fa-arrow-right"></i></a>
                    <a href="#" class="close">X</a>
                </article>
                <article class="light-box" id="client6">
                    <a href="#client5" class="next"><i class="fa fa-arrow-left"></i></a>
                    <img src="/assets/client6.JPG" alt="">
                    <a href="#client7" class="next"><i class="fa fa-arrow-right"></i></a>
                    <a href="#" class="close">X</a>
                </article>
                <article class="light-box" id="client7">
                    <a href="#client6" class="next"><i class="fa fa-arrow-left"></i></a>
                    <img src="/assets/client7.JPG" alt="">
                    <a href="#client8" class="next"><i class="fa fa-arrow-right"></i></a>
                    <a href="#" class="close">X</a>
                </article>
                <article class="light-box" id="client8">
                    <a href="#client7" class="next"><i class="fa fa-arrow-left"></i></a>
                    <img src="/assets/client8.JPG" alt="">
                    <a href="#client9" class="next"><i class="fa fa-arrow-right"></i></a>
                    <a href="#" class="close">X</a>
                </article>
                <article class="light-box" id="client9">
                    <a href="#client8" class="next"><i class="fa fa-arrow-left"></i></a>
                    <img src="/assets/client9.JPG" alt="">
                    <a href="#client10" class="next"><i class="fa fa-arrow-right"></i></a>
                    <a href="#" class="close">X</a>
                </article>
                <article class="light-box" id="client10">
                    <a href="#client9" class="next"><i class="fa fa-arrow-left"></i></a>
                    <img src="/assets/client10.JPG" alt="">
                    <a href="#client11" class="next"><i class="fa fa-arrow-right"></i></a>
                    <a href="#" class="close">X</a>
                </article>
                <article class="light-box" id="client11">
                    <a href="#client10" class="next"><i class="fa fa-arrow-left"></i></a>
                    <img src="/assets/client11.JPG" alt="">
                    <a href="#client12" class="next"><i class="fa fa-arrow-right"></i></a>
                    <a href="#" class="close">X</a>
                </article>
                <article class="light-box" id="client12">
                    <a href="#client11" class="next"><i class="fa fa-arrow-left"></i></a>
                    <img src="/assets/client12.jpg" alt="">
                    <a href="#client13" class="next"><i class="fa fa-arrow-right"></i></a>
                    <a href="#" class="close">X</a>
                </article>
                <article class="light-box" id="client13">
                    <a href="#client12" class="next"><i class="fa fa-arrow-left"></i></a>
                    <img src="/assets/client13.jpg" alt="">
                    <a href="#client14" class="next"><i class="fa fa-arrow-right"></i></a>
                    <a href="#" class="close">X</a>
                </article>
                <article class="light-box" id="client14">
                    <a href="#client13" class="next"><i class="fa fa-arrow-left"></i></a>
                    <img src="/assets/client14.jpg" alt="">
                    <a href="#client15" class="next"><i class="fa fa-arrow-right"></i></a>
                    <a href="#" class="close">X</a>
                </article>
                <article class="light-box" id="client15">
                    <a href="#client14" class="next"><i class="fa fa-arrow-left"></i></a>
                    <img src="/assets/client15.jpg" alt="">
                    <a href="#client1" class="next"><i class="fa fa-arrow-right"></i></a>
                    <a href="#" class="close">X</a>
                </article><br><br> 


                <section class="subscribe container">
                    <h4>Unveiling Your Beauty:</h4>
                    <h3>Subscribe For Exclusive Services and Special Offers!</h3>
                    <form action="" class="row">
                      <input type="email" name="" id="" placeholder="Example@email.com">
                      <button type="submit" class="page-btn active">Subscribe</button>
                    </form>
                  </section>

            </main><br><hr>
          
            <div class="footer">
                <div class="footer-content">
                  <div class="footer-section links">
                    <h4>Quick Links</h4>
                    <ul>
                      <a href="services.html"><li>Services </li></a>
                      <a href="gallery.html"><li>Gallery</li></a>
                      <a href="contact.html"><li>Contact</li></a> 
                      <a href="book.html"><li>Book</li></a>
                      <a href="about.html"><li>About Us</li></a>
                    </ul>
                  </div>
        
                  <div class="footer-section schedule">
                    <h4><i class="flaticon-calendar"></i> Opening Hours </h4>
                    <ul>
                      <li>Monday 9am - 6pm</li>
                      <li>Tuesday 9am - 6pm</li>
                      <li>Wednesday 9am - 6pm</li>
                      <li>Thursday 9am - 6pm</li>
                      <li>Friday 9am - 6pm</li>
                      <li>Saturday 9am - 5pm</li>
                    </ul>
                  </div>
        
                  <div class="footer-section contact">
                    <h4> Contact Us</h4>
                    <ul>
                      <li><i class="flaticon-email" aria-hidden="true"></i> <a href = "mailto:wlashesandbeauty@studio.com"> wlashesandbeauty@studio.com </a></li><br>
                      <li><i class="flaticon-pin" aria-hidden="true"></i> <a href= ""> 1435 Brickell Av, Miami, FL 33131 </a></li><br>
                      <li> <i class="flaticon-phone-call" aria-hidden="true"></i> <a href=""> 305-555-5555 </a></li><br>
                    </ul>
                  </div>
        
                  <div class="footer-section follow">
                    <h4> Follow Us</h4>
                    <a href ="https://www.instagram.com/"><i class="fa fa-instagram"></i></a>
                    <a href ="https://www.facebook.com/"><i class="fa fa-facebook"></i></a>
                    <a href ="https://www.whatsapp.com/"><i class="fa fa-whatsapp"></i></a><br/>
                    <p class="studio"> WLashesandBeauty </p>
                  </div>
                </div>
        
                <div class="footer-bottom">
                  &copy; 2023  All Rights Reserved |  Designed by Pierina Brito
                </div>
              </div>
    
    </body>
</html>


        