<!--
    Name: Pierina Brito
    service.html
    10/2023
-->

<!DOCTYPE html>   
<html lang = "en">
    
    <head>
        <title> Wlashesandbeaty: Services </title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
        <link rel="stylesheet" href="/style/services.css">
        <link rel="stylesheet" href="/style/style.css">
        <script src="/script/script.js"></script>
        <link rel="stylesheet" type="text/css" href="../font/flaticon_mycollection.css">
        <link rel="shortcut icon" href="/assets/favicon-eyelashes.png">
        <script src="https://kit.fontawesome.com/94cd49c58c.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <header class="row container">
            <a href="index.html" class="logo"><img src="/assets/LOGO W.png" alt=""></a>
            <button class="toggleMenu" onclick="toggleMenu();"></button>
        </header>
        <nav class="navigation row">
            <ul class="row">
                <li><a href="index.html" class="active">Home</a></li>
                <li><a href="services.html">Services</a></li>
                <li><a href="gallery.html">Gallery</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
            <a href="book.html" class="page-btn">Book</a>
        </nav>


        <main><br><br><br>
            <section class="hero row flex container">
                <div class="hero-content">
                    <h1>Our Services</h1> <!--– where every visit is not just a treatment but a celebration of your unique allure.> -->
                    <p>Experience the fusion of innovation and tradition with our advanced skincare treatments,
                    using state-of-the-art technologies to address your unique needs. </p>
                </div>
                 <!--<p>Are the step into a realm of beauty and luxury. Our beauty services is your gateway to a world of indulgence, tailored to enhance your natural beauty and boost your confidence. 
                    Discover a symphony of services meticulously crafted to pamper, rejuvenate, and elevate your personal style.
                    Immerse yourself in a haven of luxury with our comprehensive range of beauty treatments. From revitalizing facials that breathe life into your skin to 
                    precision haircuts that frame your face flawlessly, our skilled professionals are dedicated to bringing out your best self.
                </p><br> -->
            </section>

                <div class="container">
                    <div class="column">
                        <div class="effect">
                            <div class="effect-img">
                                <img src="/assets/lashes.jpeg" alt="lashes-services">
                            </div>
                            <div class="effect-text">
                                <div class="inner">
                                    <h2>Lashes</h2>
                                    <div class="effect-btn">
                                        <a href="book.html" class="page-btn active"><i class=""></i>BOOK</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="effect">
                            <div class="effect-img">
                                <img src="/assets/nails-service.jpg" alt="nails-service">
                            </div>
                            <div class="effect-text">
                                <div class="inner">
                                    <h2>Manicure</h2>
                                    <div class="effect-btn">
                                        <a href="book.html" class="page-btn active"><i class=""></i>BOOK</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="effect">
                            <div class="effect-img">
                                <img src="/assets/pedicure-services.png" alt="pedicure-services">
                            </div>
                            <div class="effect-text">
                                <div class="inner">
                                    <h2>Pedicure</h2>
                                    <div class="effect-btn">
                                        <a href="book.html" class="page-btn active"><i class=""></i>BOOK</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="effect">
                            <div class="effect-img">
                                <img src="/assets/microblading.jpg" alt="microblading">
                            </div>
                            <div class="effect-text">
                                <div class="inner">
                                    <h2>Microblading</h2>
                                    <div class="effect-btn">
                                        <a href="book.html" class="page-btn active"><i class=""></i>BOOK</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="effect">
                            <div class="effect-img">
                                <img src="/assets/Teeth-Whitening.jpg" alt="Teeth-Whitening">
                            </div>
                            <div class="effect-text">
                                <div class="inner">
                                    <h2>Teeth-Whitening</h2>
                                    <div class="effect-btn">
                                        <a href="book.html" class="page-btn active"><i class=""></i>BOOK</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="effect">
                            <div class="effect-img">
                                <img src="/assets/waxing.jpg" alt="waxing">
                            </div>
                            <div class="effect-text">
                                <div class="inner">
                                    <h2>Waxing</h2>
                                    <div class="effect-btn">
                                        <a href="book.html" class="page-btn active"><i class=""></i>BOOK</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <section class="subscribe">
                    <h4>Unveiling Your Beauty:</h4>
                    <h2>Subscribe For Exclusive Services and Special Offers!</h2>
                    <form action="" class="row-form">
                      <input type="email" name="" id="" placeholder="Example@email.com">
                      <button type="submit" class="page-btn active">Subscribe</button>
                    </form>
                  </section>
            

            </main><br><br>
            <hr>

             
      <div class="footer">
        <div class="footer-content">
          <div class="footer-section links">
            <h4>Quick Links</h4>
            <ul>
              <a href="services.html"><li>Services </li></a>
              <a href="gallery.html"><li>Gallery</li></a>
              <a href="contact.html"><li>Contact</li></a> 
              <a href="book.html"><li>Book</li></a>
              <a href="about.html"><li>About Us</li></a>
            </ul>
          </div>

          <div class="footer-section schedule">
            <h4><i class="flaticon-calendar"></i> Opening Hours </h4>
            <ul>
              <li>Monday 9am - 6pm</li>
              <li>Tuesday 9am - 6pm</li>
              <li>Wednesday 9am - 6pm</li>
              <li>Thursday 9am - 6pm</li>
              <li>Friday 9am - 6pm</li>
              <li>Saturday 9am - 5pm</li>
            </ul>
          </div>

          <div class="footer-section contact">
            <h4> Contact Us</h4>
            <ul>
              <li><i class="flaticon-email" aria-hidden="true"></i> <a href = "mailto:wlashesandbeauty@studio.com"> wlashesandbeauty@studio.com </a></li><br>
              <li><i class="flaticon-pin" aria-hidden="true"></i> <a href= ""> 1435 Brickell Av, Miami, FL 33131 </a></li><br>
              <li> <i class="flaticon-phone-call" aria-hidden="true"></i> <a href=""> 305-555-5555 </a></li><br>
            </ul>
          </div>

          <div class="footer-section follow">
            <h4> Follow Us</h4>
                <a href ="https://www.instagram.com/"><i class="fa fa-instagram"></i></a>
                <a href ="https://www.facebook.com/"><i class="fa fa-facebook"></i></a>
                <a href ="https://www.whatsapp.com/"><i class="fa fa-whatsapp"></i></a><br/>
            <p class="studio"> WLashesandBeauty </p>
          </div>
        </div>

        <div class="footer-bottom">
          &copy; 2023  All Rights Reserved |  Designed by Pierina Brito
        </div>
      </div>

    </body>
</html>


